@charset "utf-8";
body
 {
	 background: url(Background.png);
	 background-repeat:no-repeat;
	 background-size:cover;	
 }
.box
 {
	 height: 600px;
	 width: 450px;
	 margin:auto;
	 margin-top: 70px;
	 background-color:#383A4A;
	 overflow:hidden;
         border: 0px solid red;

 }
 
h1
 {
	 font-size:25px;
	 color: white;
	 text-align:center;
	 padding-top:10px;
         
 }
 
.in1
 {
	 border: 0px solid red;
	 height: 45px;
	 width: 420px;
	 margin-left:15px;
	 margin-top: 5px;
	 padding-bottom:10px;
	 background-color:#F39A16 ;
 }
.in2
 {
	 border: 0px solid black;
	 height: 430px;
	 width: 440px;
	 margin:auto;
	 margin-top:20px;	  
 }
.in3
 {
	 border: 0px solid black;
	 height: 45px;
	 width: 410px;
	 margin:auto;
	 margin-top:10px;	
	 background-color:#F39A16;
	 padding-top:10px;
	 padding-left:10px;
	 
 }
table
 {
	 border: 0px solid black;
	 width: 100%;
	 color: #EDCC33 ;
 }
td
 {
	 border: 0px solid black;
	 height: 38px;
	 padding-left:10px;
 }
.dob
 {
	 border: 0px solid black;
	 height:25px;
	 width: 72px;
	 float:left;
	 padding-top:5px;
	
 }
.gend
 {
	 border: 0px solid black;
	 height:30px;
	 width: 100px;
	 float:left;
	 padding-top:5px;
 }
.butn
 {
	 padding: 5px 10px;
	  
 }/* CSS Document */
